# ==========================================
# 1. Entornos Virtuales y Basura de Python
# ==========================================
env_tubepipe/
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# ==========================================
# 2. Django (Base de datos y Descargas)
# ==========================================
# Ignora la base de datos local dentro de backend
backend/db.sqlite3
backend/db.sqlite3-journal

# Ignora los archivos descargados y carpetas por usuario
backend/downloads_media/

# Ignora los archivos temporales de descarga de yt-dlp en cualquier lugar
*.part
*.ytdl

# ==========================================
# 3. Frontend (Node.js / React / Vite)
# ==========================================
node_modules/
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
dist/
dist-ssr/
.eslintcache

# ==========================================
# 4. Logs y Registros de Errores (NPM / Yarn)
# ==========================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==========================================
# 5. Variables de Entorno (Secretos)
# ==========================================
.env
.env.local
.env.*.local
*.env

# ==========================================
# 6. Archivos de Editores y Sistema (VS Code / Linux / Mac)
# ==========================================
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?