Django==5.1.6
asgiref
certifi
cffi
charset-normalizer
curl-cffi
dj-database-url
django-cors-headers
djangorestframework
djangorestframework-simplejwt
gunicorn
idna
psycopg2-binary
pycparser
PyJWT
python-dotenv
requests
sqlparse
tzdata
urllib3
whitenoise
yt-dlp
imageio-ffmpeg